{% extends 'base.html' %}
{% load static %}

{% block site-title %}Dashboard{% endblock %}

{% block page-title %}
<img src="{% static 'images/logo-nucleo.png' %}" alt="user-image" class="avatar-lg">
<img src="{% static 'images/logo-nucleo-sm.png' %}" alt="logo" style="width: 100px;margin-right: 0.75rem;" class="image-dark">
<img src="{% static 'images/logo-nucleo-sm-dark.png' %}" alt="logo" style="width: 100px;margin-right: 0.75rem;" class="image-light">
 Tempo Real | Receptivo
{% endblock %}

{% block page-functions %}
{% endblock %}

{% block content %}
CREDITO
{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/pages/credito.js' %}"></script>
{% endblock %}