{% extends 'base.html' %}
{% load static %}

{% block site-title %}Dashboard{% endblock %}

{% block page-title %}
<img src="{% static 'images/logo-nucleo.png' %}" alt="user-image" class="avatar-lg">
<img src="{% static 'images/logo-nucleo-sm.png' %}" alt="logo" style="width: 100px;margin-right: 0.75rem;">
 Tempo Real | Receptivo
{% endblock %}

{% block page-functions %}
<li class="d-none d-md-inline-block me-2">
  <a class="nav-link play-slide" href="javascript: void(0);">
    <i class="fe-play font-16"></i>
  </a>
</li>
<li class="d-none d-md-inline-block me-2">
  <a class="nav-link next-slide" href="javascript: void(0);">
    <i class="fe-skip-forward font-16"></i>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle border card card-fila">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
              <i class="fe-alert-triangle font-22 avatar-title text-warning"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="text-end">
              <h3 class="text-dark mt-1"><span data-plugin="counterup" id="fila">0</span></h3>
              <p class="text-muted mb-1 text-truncate">Clientes na Fila</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle border card card-tempo-fila">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="avatar-lg rounded-circle bg-soft-info border-info border">
              <i class="fe-clock font-22 avatar-title text-info"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="text-end">
              <h3 class="text-dark mt-1"><span id="tempo-fila">00:00:00</span></h3>
              <p class="text-muted mb-1 text-truncate">Tempo de Fila</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle border card card-agentes-disponiveis">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="avatar-lg rounded-circle bg-soft-success border-success border">
              <i class="fe-user-plus font-22 avatar-title text-success"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="text-end">
              <h3 class="text-dark mt-1"><span data-plugin="counterup" id="agentes-disponiveis">0</span></h3>
              <p class="text-muted mb-1 text-truncate">HC Disponível</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle border card card-agentes-logados">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
              <i class="fe-users font-22 avatar-title text-primary"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="text-end">
              <h3 class="text-dark mt-1"><span data-plugin="counterup" id="agentes-logados">0</span></h3>
              <p class="text-muted mb-1 text-truncate">Logado / Em Pausa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="slide-kpis" class="">
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-0">Atualização: <span id="data-atualizacao">...</span></h4>
          <div class="widget-chart text-center" dir="ltr">
            <div id="chart-ns" class="mt-0"></div>
            <div class="row mt-3">
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">Atendimento</p>
                <h4><i id="icon-percentual-atendimento"></i><span data-plugin="counterup" id="percentual-atendimento">0</span>%</h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">TME</p>
                <h4><i id="icon-tme"></i><span data-plugin="counterup" id="tme">0</span></h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">NS Projetado</p>
                <h4><i id="icon-ns-projetado"></i><span data-plugin="counterup" id="ns-projetado">0</span>%</h4>
              </div>
            </div>                  
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-0">Chamadas Em Atendimento</h4>
          <div id="chart-contacts" class="apex-charts pt-3 pb-0 my-0"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card" id="card-volume">
        <div class="card-body">
          <i class="fa fa-info-circle text-muted float-end"></i>
          <h4 class="mt-0 font-16">Volume Recebido</h4>
          <h2 class="text-success my-3 text-center"><span data-plugin="counterup" id="contatos-recebidos">0</span></h2>
          <p class="text-muted mb-0">Forecast: <span data-plugin="counterup" id="forecast-percentual-volume">0</span>% <span class="float-end"><i id="icon-percentual-volume-comparativo"></i><span data-plugin="counterup" id="percentual-volume-comparativo">0</span>%</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card" id="card-abandono">
        <div class="card-body">
          <h4 class="mt-0 font-16">Abandonadas</h4>
          <h2 class="text-success my-3 text-center"><span data-plugin="counterup" id="contatos-abandonados">0</span></h2>
          <p class="text-muted mb-0">% Abandono: <span data-plugin="counterup" id="percentual-abandono">0</span>% <span class="float-end"><i id="icon-percentual-abandono-comparativo"></i><span data-plugin="counterup" id="percentual-abandono-comparativo">0</span>%</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card" id="card-negocios">
        <div class="card-body">
          <h4 class="mt-0 font-16">Negócios</h4>
          <h2 class="text-success my-3 text-center"><span data-plugin="counterup" id="negocios">0</span></h2>
          <p class="text-muted mb-0">Conversão: <span data-plugin="counterup" id="percentual-conversao">0</span>% <span class="float-end"><i id="icon-percentual-negocios-comparativo"></i><span data-plugin="counterup" id="percentual-negocios-comparativo">0</span>%</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card" id="card-tma">
        <div class="card-body">
          <h4 class="mt-0 font-16">TMA</h4>
          <h2 class="text-success my-3 text-center"><span id="tma">00:00:00</span></h2>
          <p class="text-muted mb-0">TMT: <span id="tmt_segundos"></span> segundos <span class="float-end"><i id="icon-percentual-tma-comparativo"></i><span data-plugin="counterup" id="percentual-tma-comparativo">0</span>%</span></p>
        </div>
      </div>
    </div>  
  </div>
</div>

<div id="slide-skills" class="d-none">
  <div class="row" id="skill-16412186">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">RECEPTIVO 4004</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="skill-16412187">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">RECEPTIVO LOJAS</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="skill-20681954">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">AGENTE DIGITAL</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'libs/animate.css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/animate.css/animate.compat.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/pages/inbound.js' %}"></script>
{% endblock %}