<div id="slide-dispositions" class="d-none">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-0">Receptivo 4004 / 0800</h4>
              <div class="table-responsive pt-3">
                <table class="table table-centered table-nowrap table-borderless mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>Tabulação</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>RECEPTIVO COBRANÇA</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 4004</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 0800</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA MEU CARTÃO</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA E-COMMERCE</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th>RECEPTIVO LOJAS</th>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>AGENTE DIGITAL</td>
                      <td>11</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-0">Receptivo Lojas</h4>
              <div class="table-responsive pt-3">
                <table class="table table-centered table-nowrap table-borderless mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>Tabulação</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>RECEPTIVO COBRANÇA</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 4004</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 0800</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA MEU CARTÃO</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA E-COMMERCE</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th>RECEPTIVO LOJAS</th>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>AGENTE DIGITAL</td>
                      <td>11</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-0">Agente Digital</h4>
              <div class="table-responsive pt-3">
                <table class="table table-centered table-nowrap table-borderless mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>Tabulação</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>RECEPTIVO COBRANÇA</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 4004</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> RECEPTIVO 0800</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA MEU CARTÃO</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td><i class="fe-corner-down-right"></i> TRANSFERÊNCIA E-COMMERCE</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th>RECEPTIVO LOJAS</th>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>AGENTE DIGITAL</td>
                      <td>11</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>