<div id="slide-skills" class="d-none">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-0">Visão por Skill</h4>
          <div id="cardCollpase4" class="collapse show">
            <div class="table-responsive pt-3">
              <table class="table table-centered table-nowrap table-borderless mb-0">
                <thead class="table-light">
                  <tr>
                    <th>Skill</th>
                    <th>Em Fila</th>
                    <th>Em Atendimento</th>
                    <th>Recebidas</th>
                    <th>% Abandono</th>
                    <th>Negócios</th>
                    <th>% Conversão</th>
                    <th>Última Chamada</th>
                  </tr>
                </thead>
                <tbody class="table-skills"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>