<div id="slide-skills" class="d-none">
  <div class="row" id="skill-16412186">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">RECEPTIVO 4004</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="skill-16412187">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">RECEPTIVO LOJAS</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="skill-20681954">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body">
          <h4 class="header-title mb-1">AGENTE DIGITAL</h4>
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-incoming text-primary mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-volume">0</span></h3>
                <p class="text-muted font-15 mb-0">Recebidas</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-in-talk text-info mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-em-atendimento">0</span></h3>
                <p class="text-muted font-15 mb-0">Em Atendimento</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-phone-remove text-danger mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-percentual-abandono">0</span>%</h3>
                <p class="text-muted font-15 mb-0">% Abandono</p>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="p-2 text-center">
                <i class="mdi mdi-account-multiple-check text-success mdi-24px"></i>
                <h3><span data-plugin="counterup" class="skill-agentes-disponiveis">0</span></h3>
                <p class="text-muted font-15 mb-0">Agentes Disponíveis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>