<!-- <div class="dropdown d-none d-xl-block">
  <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button"
    aria-haspopup="false" aria-expanded="false">
    Dashboard
    <i class="mdi mdi-chevron-down ms-1"></i>
  </a>
  <div class="dropdown-menu">
    <a href="javascript: void();" class="dropdown-item">
      <i class="fe-briefcase me-1"></i>
      <span>Novo Serviço</span>
    </a>

    <a href="javascript: void();" class="dropdown-item">
      <i class="fe-user me-1"></i>
      <span>Novo Cliente</span>
    </a>
  </div>
</div> -->