{% load static %}
<div class="logo-box">
  <!-- Brand Logo Light -->
  <a href="{% url 'dashboard-index' %}" class="logo-light">
    <img src="{% static 'images/logo-renner-white.png' %}" alt="logo" class="logo-lg">
    <img src="{% static 'images/logo-nucleo.png' %}" alt="small logo" class="logo-sm">
  </a>

  <!-- Brand Logo Dark -->
  <a href="{% url 'dashboard-index' %}" class="logo-dark">
    <img src="{% static 'images/logo-renner-red.png' %}" alt="dark logo" class="logo-lg">
    <img src="{% static 'images/logo-nucleo.png' %}" alt="small logo" class="logo-sm">
  </a>
</div>