<!-- <div class="dropdown dropdown-mega d-none d-xl-block">
  <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button"
    aria-haspopup="false" aria-expanded="false">
    Mega Menu
    <i class="mdi mdi-chevron-down  ms-1"></i>
  </a>
  <div class="dropdown-menu dropdown-megamenu">
    <div class="row">
      <div class="col-sm-8">

        <div class="row">
          <div class="col-md-4">
            <h5 class="text-dark mt-0">UI Components</h5>
            <ul class="list-unstyled megamenu-list">
              <li>
                <a href="widgets.html">Widgets</a>
              </li>
              <li>
                <a href="extended-nestable.html">Nestable List</a>
              </li>
              <li>
                <a href="javascript:void(0);">Range Sliders</a>
              </li>
              <li>
                <a href="pages-gallery.html">Masonry Items</a>
              </li>
              <li>
                <a href="extended-sweet-alert.html">Sweet Alerts</a>
              </li>
              <li>
                <a href="javascript:void(0);">Treeview Page</a>
              </li>
              <li>
                <a href="extended-tour.html">Tour Page</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <h5 class="text-dark mt-0">Applications</h5>
            <ul class="list-unstyled megamenu-list">
              <li>
                <a href="ecommerce-products.html">eCommerce Pages</a>
              </li>
              <li>
                <a href="crm-dashboard.html">CRM Pages</a>
              </li>
              <li>
                <a href="email-inbox.html">Email</a>
              </li>
              <li>
                <a href="apps-calendar.html">Calendar</a>
              </li>
              <li>
                <a href="contacts-list.html">Team Contacts</a>
              </li>
              <li>
                <a href="task-kanban-board.html">Task Board</a>
              </li>
              <li>
                <a href="email-templates.html">Email Templates</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <h5 class="text-dark mt-0">Extra Pages</h5>
            <ul class="list-unstyled megamenu-list">
              <li>
                <a href="javascript:void(0);">Left Sidebar with User</a>
              </li>
              <li>
                <a href="javascript:void(0);">Menu Collapsed</a>
              </li>
              <li>
                <a href="javascript:void(0);">Small Left Sidebar</a>
              </li>
              <li>
                <a href="javascript:void(0);">New Header Style</a>
              </li>
              <li>
                <a href="pages-search-results.html">Search Result</a>
              </li>
              <li>
                <a href="pages-gallery.html">Gallery Pages</a>
              </li>
              <li>
                <a href="pages-coming-soon.html">Maintenance & Coming Soon</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center mt-3">
          <h3 class="text-dark">Special Discount Sale!</h3>
          <h4>Save up to 70% off.</h4>
          <a href="https://1.envato.market/uboldadmin" target="_blank"
            class="btn btn-primary rounded-pill mt-3">Download Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->