<ul class="menu">
  <li class="menu-title">Dashboards</li>

  <li class="menu-item">
    <a href="{% url 'dashboard-inbound' %}" class="menu-link">
      <span class="menu-icon"><i data-feather="phone-incoming"></i></span>
      <span class="menu-text"> Receptivo </span>
    </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'dashboard-outbound' %}" class="menu-link">
      <span class="menu-icon"><i data-feather="phone-outgoing"></i></span>
      <span class="menu-text"> Ativo </span>
    </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'dashboard-whatsapp' %}" class="menu-link">
      <span class="menu-icon"><i class="fab fa-whatsapp"></i></span>
      <span class="menu-text"> Whatsapp </span>
    </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'dashboard-users' %}" class="menu-link">
      <span class="menu-icon"><i data-feather="users"></i></span>
      <span class="menu-text"> Agentes </span>
    </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'dashboard-credito' %}" class="menu-link">
      <span class="menu-icon"><i data-feather="credit-card"></i></span>
      <span class="menu-text"> Crédito </span>
    </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'users-map' %}" class="menu-link">
      <span class="menu-icon"><i data-feather="map-pin"></i></span>
      <span class="menu-text"> Mapa Funcionários </span>
    </a>
  </li>
</ul>